body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    /* position: fixed; */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
    display: none;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.modal-content .inputBox {
    position: relative;
}

.modal-content .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.modal-content .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.hilang {
    color: #000;
}

.modal-content input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content input[type="reset"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #e33434;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.modal-content .inputBox input:focus~label,
.modal-content .inputBox input:valid~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e33434;
    text-decoration: none;
    cursor: pointer;
}

.styled-table {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .9);
    /* Black w/opacity/see-through */
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    /* border-right: 1px solid #ddd; */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.container {
    position: relative;
    margin: auto;
    padding: 40px;
}

.transparent-button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    padding: 30px 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.text-center {
    position: absolute;
    font-size: 40pt;
    color: white;
    top: 3%;
    left: 35%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px;
}